*{
    margin:0;
    padding:0;
}
body{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:1300px;
    background: linear-gradient(rgba(200,200,0,0.7),rgba(0,244,244,0.3));
}
main{
    font-size:20px;
}
main > picture > img{
    width:100%;
    max-width:300px;
    float:right;
    border-radius: 0 0 0 14px;
}
@media(max-width:500px){
    main > picture > img{
        max-width:130px;
    }
}
section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}